.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #f39c12;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f39c12;
}

/* Estilos para el CartWidget si lo tienes */



