.item-list {
    text-align: center;
    padding: 2rem;
}

.item-list-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.item-list-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
